* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.btn-facebook-login{
  border: none;
  outline: none;
  padding: 10px 12px;
  background-color: blue;
  color: #fff;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 550;
}